h1{text-align: center;}
div{
    background-color: grey;
}
.External{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h3{
    text-align: center;
}